In [2]:
import pandas as pd
import numpy as np

In [3]:
# Q1 :

key = np.array([2, 2, 1, 1, 1])
values = np.array(['2:first', '2:second', '1:first', '1:second','1:third'])
indexer = key.argsort(kind='heapsort')
print(indexer) 
print(values.take(indexer))

[4 2 3 1 0]
['1:third' '1:first' '1:second' '2:second' '2:first']

In [64]:
# Q3 :
data = {'names': ['ahmed', 'mohammed', 'anas', 'foad', 'loay', 'gamal', 'saed'],
 'ids': ['120215568', '120206874', '120219874', '120194532', '120212258', '120214521', '120227452'],
 'GPAs': [89, 77, 52, 60, 58, 54, 92]}
frame1 = pd.DataFrame(data)

c = frame1['ids'][frame1['GPAs']<55]
y= c.values
for i in y :
    print(i[1:5])
average = frame1['GPAs'].mean()
print(f'The average for the whole class {round(average,2)}')
frame1.iloc[frame1['GPAs']<55] = 'w'
print(frame1)

2021
2021
The average for the whole class 68.86
      names        ids GPAs
0     ahmed  120215568   89
1  mohammed  120206874   77
2         w          w    w
3      foad  120194532   60
4      loay  120212258   58
5         w          w    w
6      saed  120227452   92

In [47]:
# Q4 :
sdata = {'cities': ['Paris', 'Marseille', 'Lyon', 'Toulouse', 'Strasbourg', 'Le Mans'],
'distance': [1542.1, 8695.5, 2587.5, 1875.7, 5987.0, 11014.9],}
frame2 = pd.DataFrame(sdata)
frame2['country']='FRANCE'
frame2.sort_values(by=['distance'])
print(frame2)

series=pd.Series(frame2['distance'].values,index=frame2['cities'])
def nearestCity(x,y) :
    if series[x]<series[y] :
        nearest = x 
    else :
        nearest = y
    diffance = abs(series[x]-series[y])
    print(f'The nearest city is {nearest} it is nearer {diffance} than the other city.')
nearestCity('Paris','Marseille')

       cities  distance country
0       Paris    1542.1  FRANCE
1   Marseille    8695.5  FRANCE
2        Lyon    2587.5  FRANCE
3    Toulouse    1875.7  FRANCE
4  Strasbourg    5987.0  FRANCE
5     Le Mans   11014.9  FRANCE
The nearest city is Paris it is nearer 7153.4 than the other city.

In [54]:
# Q5 :
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
equals = series1==series2
equals.index.name = 'Equals: '
print(equals,'\n')
grater = series1>series2
grater.index.name = 'Grater than:'
print(grater,'\n')
less = series1<series2
less.index.name = 'less than:'
print(less)

Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool

Grater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool

less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [103]:
# Q6 :
data = {'col1': [1, 2, 3, 4, 7, 11, 22, 3, 2, 3, 9], 'col2': [4, 5, 6, 9, 5, 0, 4, 6, 7, 8, 0], 'col3': [7, 5, 8,
12, 1, 11, 5 ,8 ,22 , 6, 5]}
frame2 = pd.DataFrame(data)
print(frame2,'\n')
series4=pd.Series(frame2['col1'])
series4.index.name = 'first column as a Series'
print(series4,'\n')

frequentValue = frame2['col1'].value_counts().to_frame() 
print(frequentValue,'\n')

series4[series4.mode()[0]!=series4.values] = 'Other'
print(series4)

    col1  col2  col3
0      1     4     7
1      2     5     5
2      3     6     8
3      4     9    12
4      7     5     1
5     11     0    11
6     22     4     5
7      3     6     8
8      2     7    22
9      3     8     6
10     9     0     5

first column as a Series
0      1
1      2
2      3
3      4
4      7
5     11
6     22
7      3
8      2
9      3
10     9
Name: col1, dtype: int64

    col1
3      3
2      2
1      1
4      1
7      1
11     1
22     1
9      1

first column as a Series
0     Other
1     Other
2         3
3     Other
4     Other
5     Other
6     Other
7         3
8     Other
9         3
10    Other
Name: col1, dtype: object